<mat-card>
  <mat-card-subtitle>
    <button mat-button (click)="goBack()">
      Projects
    </button>
    <button mat-button (click)="goToCustomers()">
      Customers
    </button>
    <button mat-button (click)="goToTeams()">
      Teams
    </button>
    <button mat-button (click)="goToResources()">
      Resources
    </button>
    <button mat-button (click)="goToEmployees()">
      Employees
    </button>
    <button mat-button (click)="goToUsers()">
      Users
    </button>
    <button mat-button (click)="goBack()">
      <mat-icon>home</mat-icon>
    </button>
  </mat-card-subtitle>
</mat-card>
<router-outlet></router-outlet>
