<h1 mat-dialog-title>{{getHeader()}}</h1>
<div mat-dialog>
  <mat-form-field>
    <input matInput required [(ngModel)]="data.name" placeholder="Task name">
  </mat-form-field>
  <mat-form-field>
    <input matInput required placeholder="Status input here">
  </mat-form-field>
  <mat-form-field *ngIf="data.subtask">
    <mat-select [formControl]="parentTaskForm" placeholder="Team" >
      <mat-option *ngFor="let task of data.availableTasks" [value]="task" (onSelectionChange)="changedTeam($event)">
        {{task.taskId}} - {{task.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="parentTaskForm.hasError('required')">You must make a selection</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" [disabled]="isInvalid()">OK</button>
</div>
