<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-description>
        {{resource.name}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item>
        <p><strong>Type: </strong> {{resource.resourceType.name}}</p>
      </mat-list-item>
      <mat-list-item>
        <p><strong>Manufacturer: </strong>{{resource.manufacturer}}</p>
      </mat-list-item>
      <mat-list-item>
        <p><strong>Bought at: </strong>{{getDate(resource.boughtAt)}}</p>
      </mat-list-item>
      <mat-list-item>
        <p><strong>Cost ($): </strong>{{resource.cost}}</p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
